:root {
	--font-size: .8rem;
	--font-size-label: .8rem;
	--border-radius: 4px;
	--range-height: 16px;
	--range-background-color: #7f7f7f;
	--range-thumb-color: #696969;
	--range-slider-color: #cacaca;
	--range-border-radius: 18px;
	--range-border: 2px;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #22252C;
	font-family: system-ui;
}

svg text {
	/* font: 32px sans-serif; */
	color: #fff;
}

.controls {
	position: fixed;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.1);
	color: #ccc;
	padding: .7rem;
	margin: 12px;
	border-radius: var(--border-radius);
}

.controls .mtop {
	margin-top: .6rem;
}

.controls h5 {
	margin: 0;
	margin-top: 6px;
	font-weight: normal;
	font-size: var(--font-size);
}

.controls label {
	display: inline-block;
	text-align: left;
	font-size: var(--font-size-label);
}

.controls .val {
	border: 0;
	border-radius: 10%;
	background-color: rgba(255, 255, 255, .1);
	/* background-color: transparent; */
	color: #ccc;
	padding: 3px;
	max-width: 2.25rem;
	text-align: center;
}

button {
	background-color: transparent;
	border: none;
	color: var(--range-slider-color);
	padding: 3px 5px;
	border: 1px solid var(--range-slider-color);
	border-radius: .25rem;
	text-align: center;
	text-decoration: none;
}

select {
	background-color: var(--range-background-color);
	border-radius: 1rem;
	padding: 2px 5px;
}


/* Improve range input
https://blog.logrocket.com/creating-custom-css-range-slider-javascript-upgrades/ 
https://range-input-css.netlify.app/
*/

input[type="range"] {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	outline: none;
	/* creating a custom design */
	margin: 3px 6px;
	width: 6rem;
	/*  slider progress trick  */
	overflow: hidden;
	border-radius: var(--range-border-radius);
	vertical-align: -.2rem;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
	height: var(--range-height);
	background: var(--range-background-color);
	border-radius: var(--range-border-radius);
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
	height: var(--range-height);
	background: var(--range-background-color);
	border-radius: var(--range-border-radius);
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	/* creating a custom design */
	height: var(--range-height);
	width: var(--range-height);
	background-color: var(--range-thumb-color);
	border-radius: 50%;
	border: 2px solid var(--range-slider-color);
	/*  slider progress trick  */
	box-shadow: -407px 0 0 400px var(--range-slider-color);
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
	height: var(--range-height);
	width: var(--range-height);
	background-color: var(--range-thumb-color);
	border-radius: 50%;
	border: 1px solid var(--range-slider-color);
	/*  slider progress trick  */
	box-shadow: -407px 0 0 400px var(--range-slider-color);
}





/* The switch - the box around the slider 
https://www.w3schools.com/howto/howto_css_switch.asp
*/
:root {
	--switch-height: 20px;
	--switch-width: 40px;
	--switch-slider-size: 14px;
	--switch-slider-padding: 3px;
	--switch-slider-offset: 18px;
}

.switch {
	position: relative;
	display: inline-block;
	width: var(--switch-width);
	height: var(--switch-height);
	margin-left: .2rem;
	margin-right: .2rem;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--range-thumb-color);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: var(--range-slider-color);
}

input:focus+.slider {
	box-shadow: 0 0 1px var(--range-slider-color);
}

/* checked */
.slider:before {
	position: absolute;
	content: "";
	height: var(--switch-slider-size);
	width: var(--switch-slider-size);
	left: var(--switch-slider-padding);
	bottom: var(--switch-slider-padding);
	background-color: var(--range-slider-color);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider:before {
	background-color: var(--range-thumb-color);
	-webkit-transform: translateX(var(--switch-slider-offset));
	-ms-transform: translateX(var(--switch-slider-offset));
	transform: translateX(var(--switch-slider-offset));
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}